[Desktop Entry]
Type=Application
Name=SkanaEH
Comment=A cross-platform app made for e-hentai & exhentai by Flutter.
Exec=skana_ehentai
Icon=com.skanaone.skana_ehentai
Categories=Network;Graphics
Terminal=false