Maintainer: madoka773 <valigarmanda55@gmail.com>
Package: skana_ehentai
Version: 
Section: x11
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 34648
Description: A cross-platform app made for e-hentai & exhentai by Flutter.
Homepage: https://github.com/asdoll/skana_ehentai
Depends: webkit2gtk-4.1
